.share-container{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.shareWrapper{
    padding: 10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput{
    border: none;
    width: 80%;
}
.shareInput:focus{
    outline: none;
}
.ShareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareHr{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shareBottomItem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  cursor: pointer; 
}
.shareBottomText{
    font-size: 14px;
    font-weight: 500;
}
.shareBottomIcon{
    font-size: 18px;
    margin-right: 3px;
}
.shareBottomBtn{
    background-color: green;
    color:white;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
    font-weight: 500;
    margin-left: 90px;
    cursor: pointer;
}
.shareImg-container{
    padding: 0 20px  10px 20px;
    position: relative;
}

.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    background-color: gray;
    cursor: pointer;
    opacity: 0.7;
}
